@page "/app/groups"
        
<PageHeader Title="Groups" Header="Groups" SubHeader="Manage Application Groups." />

<EntityTable @ref="_table" TEntity="GroupDto" TId="DefaultIdType" TRequest="GroupViewModel" Context="@Context">
    <EditFormContent>
        @if (!Context.AddEditModal.IsCreate)
        {
            <MudItem xs="12" md="6">
                <MudTextField Value="Context.AddEditModal.RequestModel.Id" Underline=false ReadOnly Label="Account Id" />
            </MudItem>
        }
        <MudItem xs="12" sm="6" md="4" lg="3">
            <MudSelect T="string" Label="Application" @bind-Value="Context.AddEditModal.RequestModel.Application">
                <MudSelectItem T="string" Value="@("ACCOUNTING")">ACCOUNTING</MudSelectItem>
            </MudSelect>
        </MudItem>
        <MudItem xs="12" sm="6" md="4" lg="3">
            <MudTextField Label="Parent" For="@(() => Context.AddEditModal.RequestModel.Parent)" @bind-Value="Context.AddEditModal.RequestModel.Parent" />
        </MudItem>
        <MudItem xs="12" sm="6" md="4" lg="3">
            <MudTextField Label="Code" For="@(() => Context.AddEditModal.RequestModel.Code)" @bind-Value="Context.AddEditModal.RequestModel.Code" />
        </MudItem>
        <MudItem xs="12">
            <MudTextField Label="Name" For="@(() => Context.AddEditModal.RequestModel.Name)" @bind-Value="Context.AddEditModal.RequestModel.Name" />
        </MudItem>
        <MudItem xs="12" sm="6" md="4" lg="3">
            <MudNumericField Label="Amount" For="@(() => Context.AddEditModal.RequestModel.Amount)" @bind-Value="Context.AddEditModal.RequestModel.Amount" Format="N2" />
        </MudItem>        
        <MudItem xs="12">
            <MudTextField @bind-Value="Context.AddEditModal.RequestModel.Description" For="@(() => Context.AddEditModal.RequestModel.Description)" Label="Description" Lines="3" />
        </MudItem>
        <MudItem xs="12">
            <MudTextField @bind-Value="Context.AddEditModal.RequestModel.Notes" For="@(() => Context.AddEditModal.RequestModel.Notes)" Label="Notes" Lines="3" />
        </MudItem>
        <MudItem xs="12">
            <MudItem>
                <div>
                    @if(!Context.AddEditModal.IsCreate)
                    {
                        <MudButton HtmlTag="label" Variant="Variant.Filled" Color="Color.Info" Size="Size.Small" Target="_blank"
                            StartIcon="@Icons.Material.Filled.RemoveRedEye" Style="margin-left: 5px;" >
                            View
                        </MudButton>

                        <MudButton HtmlTag="label" Variant="Variant.Filled" Color="Color.Error" Size="Size.Small"
                                   StartIcon="@Icons.Material.Filled.Delete" Style="margin-left: 5px;">
                            Delete
                        </MudButton>
                    }
                </div>
            </MudItem>
        </MudItem>
    </EditFormContent>
</EntityTable>