@page "/accounts"

<PageHeader Title="Chart Of Accounts" Header="Chart Of Accounts" SubHeader="Manage Ledger Accounts." />

<EntityTable @ref="_table" TEntity="ChartOfAccountDto" TId="DefaultIdType" TRequest="ViewModel" Context="@Context">
    <EditFormContent>
        @if (!Context.AddEditModal.IsCreate)
        {
            <MudItem xs="12" md="6">
                <MudTextField Value="Context.AddEditModal.RequestModel.Id" Underline=false ReadOnly Label="Account Id" />
            </MudItem>
        }
        <MudItem xs="12" sm="6" md="4" lg="3" xl="2" xxl="1">
            <MudSelect Label="Category" T="string" @bind-Value="Context.AddEditModal.RequestModel.AccountCategory">
                @foreach (var category in new string[] { "Asset", "Liability", "Equity", "Revenue", "Expense" })
                {
                    <MudSelectItem Value="@category">@category</MudSelectItem>
                }
            </MudSelect>
        </MudItem>
        <MudItem xs="12" sm="6" md="4" lg="3" xl="2" xxl="1">
            <MudSelect Label="Type" T="string" @bind-Value="Context.AddEditModal.RequestModel.AccountType">
                @foreach (var type in new string[] { "Debit", "Credit" })
                {
                    <MudSelectItem Value="@type">@type</MudSelectItem>
                }
            </MudSelect>
        </MudItem>
        <MudDivider />
        <MudItem xs="12" sm="6" md="4" lg="3" xl="2" xxl="1">
            <MudTextField Label="Parent Code" For="@(() => Context.AddEditModal.RequestModel.ParentCode)" @bind-Value="Context.AddEditModal.RequestModel.ParentCode" />
        </MudItem>
        <MudItem xs="12" sm="6" md="4" lg="3" xl="2" xxl="1">
            <MudTextField Label="Code" For="@(() => Context.AddEditModal.RequestModel.Code)" @bind-Value="Context.AddEditModal.RequestModel.Code" />
        </MudItem>
        <MudItem xs="12" sm="6" md="4" lg="3" xl="2" xxl="1">
            <MudNumericField Label="Balance" For="@(() => Context.AddEditModal.RequestModel.Balance)" @bind-Value="Context.AddEditModal.RequestModel.Balance" Format="N2"/>
        </MudItem>
        <MudItem xs="12">
            <MudTextField Label="Name" For="@(() => Context.AddEditModal.RequestModel.Name)" @bind-Value="Context.AddEditModal.RequestModel.Name" />
        </MudItem>
        <MudItem xs="12">
            <MudTextField @bind-Value="Context.AddEditModal.RequestModel.Description" For="@(() => Context.AddEditModal.RequestModel.Description)" Label="Description" Lines="3" />
        </MudItem>
        <MudItem xs="12">
            <MudTextField @bind-Value="Context.AddEditModal.RequestModel.Notes" For="@(() => Context.AddEditModal.RequestModel.Notes)" Label="Notes" Lines="3" />
        </MudItem>
        <MudItem xs="12">
            <MudItem>
                <div>
                    @if(!Context.AddEditModal.IsCreate)
                    {
                        <MudButton HtmlTag="label" Variant="Variant.Filled" Color="Color.Info" Size="Size.Small" Target="_blank"
                            StartIcon="@Icons.Material.Filled.RemoveRedEye" Style="margin-left: 5px;" >
                            View
                        </MudButton>

                        <MudButton HtmlTag="label" Variant="Variant.Filled" Color="Color.Error" Size="Size.Small"
                                   StartIcon="@Icons.Material.Filled.Delete" Style="margin-left: 5px;">
                            Delete
                        </MudButton>
                    }
                </div>
            </MudItem>
        </MudItem>
    </EditFormContent>
</EntityTable>