@page "/chart-of-accounts"

@using FSH.Starter.Blazor.Client.Components.Autocompletes.App

<PageHeader Title="Chart Of Accounts" Header="Chart Of Accounts" SubHeader="Manage Chart of Accounts." />

<EntityTable @ref="_table" TEntity="ChartOfAccountDto" TId="DefaultIdType" TRequest="ChartOfAccountViewModel" Context="@Context">
    <EditFormContent>
        @if (!Context.AddEditModal.IsCreate)
        {
            <MudItem xs="12" md="6">
                <MudTextField Value="context.Id" Underline=false ReadOnly Label="Account Id" />
            </MudItem>
        }
        <MudItem xs="12" sm="6" md="4" lg="3" xl="2">
            <AutocompleteGroupByParent @bind-Value="context.AccountCategory"
                                       For="@(() => context.AccountCategory)"
                                       Label="Category"
                                       Parent="ACCOUNTCATEGORY"
                                       Variant="Variant.Filled" />
        </MudItem>
        <MudItem xs="12" sm="6" md="4" lg="3" xl="2">
            <MudSelect @bind-Value="context.AccountType"
                       For="@(() => context.AccountType!)"
                       Label="Type"
                       T="string"
                       Variant="Variant.Filled">
                @foreach (var type in new[] { "DEBIT", "CREDIT" })
                {
                    <MudSelectItem Value="@type">@type</MudSelectItem>
                }
            </MudSelect>
        </MudItem>
        <MudDivider />
        <MudItem xs="12" sm="6" md="4" lg="3" xl="2">
            <MudTextField @bind-Value="context.ParentCode"
                          For="@(() => context.ParentCode)"
                          Label="Parent Code"
                          Variant="Variant.Filled"/>
        </MudItem>
        <MudItem xs="12" sm="6" md="4" lg="3" xl="2">
            <MudTextField @bind-Value="context.AccountCode" 
                          For="@(() => context.AccountCode)" 
                          Label="Account Code"
                          Variant="Variant.Filled"/>
        </MudItem>
        <MudItem xs="12" sm="6" md="4" lg="3" xl="2">
            <MudNumericField @bind-Value="context.Balance" 
                             For="@(() => context.Balance)" 
                             Format="N2" 
                             Label="Balance"
                             Variant="Variant.Filled"/>
        </MudItem>
        <MudItem xs="12">
            <MudTextField @bind-Value="context.Name" 
                          For="@(() => context.Name)" 
                          Label="Name" 
                          Variant="Variant.Filled"/>
        </MudItem>
        <MudItem xs="12">
            <MudTextField @bind-Value="context.Description" 
                          For="@(() => context.Description)" 
                          Label="Description" 
                          Lines="3" />
        </MudItem>
        <MudItem xs="12">
            <MudTextField @bind-Value="context.Notes" 
                          For="@(() => context.Notes)" 
                          Label="Notes" 
                          Lines="3" />
        </MudItem>
        <MudItem xs="12">
            <MudItem>
                <div>
                    @if(!Context.AddEditModal.IsCreate)
                    {
                        <MudButton HtmlTag="label" Variant="Variant.Filled" Color="Color.Info" Size="Size.Small" Target="_blank"
                            StartIcon="@Icons.Material.Filled.RemoveRedEye" Style="margin-left: 5px;" >
                            View
                        </MudButton>

                        <MudButton HtmlTag="label" Variant="Variant.Filled" Color="Color.Error" Size="Size.Small"
                                   StartIcon="@Icons.Material.Filled.Delete" Style="margin-left: 5px;">
                            Delete
                        </MudButton>
                    }
                </div>
            </MudItem>
        </MudItem>
    </EditFormContent>
</EntityTable>