<MudExpansionPanel HideIcon="true">
    <TitleContent>
        <div class="d-flex align-content-center align-center justify-lg-space-between ml-4 mr-4">
            @if (_isDarkMode)
            {
                <MudText>Switch to Light Mode</MudText>
            }
            else
            {
                <MudText>Switch to Dark Mode</MudText>
            }
            <MudToggleIconButton @bind-Toggled="_isDarkMode" Icon="@Icons.Material.Filled.WbSunny"
                Color="@Color.Warning" title="off" ToggledIcon="@Icons.Material.Filled.DarkMode"
                ToggledColor="@Color.Surface" toggledtitle="on" style="left:8px!important" @onclick="@ToggleDarkMode" />
        </div>
    </TitleContent>
</MudExpansionPanel>