@using System.Globalization
<MudExpansionPanel HideIcon="true">
    <TitleContent>
        <div class="d-flex align-content-center align-center justify-lg-space-between ml-4 mr-4">
            <MudText>Elevation</MudText>
            <MudAvatar Color="Color.Primary"
                style="width: 30px;height:30px;font-size:small!important">@Elevation.ToString()
            </MudAvatar>
        </div>
    </TitleContent>
    <ChildContent>
        <MudSlider @bind-Value="@Elevation" Min="0" Max="@MaxValue" Immediate="false" Step="1" Color="Color.Primary"
            @oninput="@(ChangedSelection)">
            @Elevation.ToString(CultureInfo.InvariantCulture)
        </MudSlider>
    </ChildContent>
</MudExpansionPanel>
